.father {
    height: 90%;
    background-color: #1d1e22;
}

.body {
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 50%;
}
.boxes {
    height: 100%;
    width: 100%;
    background-color: #1d1e22;
}
.boxes textarea {
    overflow-y: scroll !important;
    height: 100%;
    width: 100%;
    background-color: #1d1e22;
    color: #fff;
    border: 3px solid #333642;
    resize: none;
    min-height: 500px;
}
.boxes textarea :active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}
.boxes select {
    width: 100%;
    background-color: #1d1e22;
    color: #fff;
    border: 3px solid #333642;
}

.card {
    display: block;
    align-items: center;
    height: 50%;
    width: 100%;
    overflow: hidden;
    background-color: #1d1e22;
}
.card textarea {
    color: #1a73e8;
    height: 100%;
    width: 100%;
    background-color: #fff;
    resize: none;
}
